@mixin primary-cta {
  padding: 16px 32px;
  background-color: #FFD597;
  transition: all 0.3s;
  display: inline-block;
  outline: 0;
  text-align: center;
  color: #1B5D76;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
  @include media-breakpoint-only(md) {
    font-size: 16px;
  }
  &:hover {
    outline: 0;
    background-color: #1B5D76;
    color: #FFD597;
    transition: all 0.3s;
  }
}
@mixin TickIcon {
  .EachIcon {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    @include media-breakpoint-down(md) {
      display: block;
      width: 100%;
    }
    .Icon {
      display: inline-block;
      vertical-align: center;
      width: 55px;
      @include media-breakpoint-down(md) {
        width: 45px;
      }
      img {
        max-width: 42px;
        height: auto;
        @include media-breakpoint-down(md) {
          max-width: 32px;          
        }
      }
    }
    .Text {
      display: inline-block;
      vertical-align: center;
      width: calc(100% - 60px);
      @include media-breakpoint-down(md) {
        width: calc(100% - 50px);        
      }
      p{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        margin: 0;
        color: $Secondary;
      }
    }
  }
}
@mixin SmallMargin {
  margin: 0 0 45px 0;
  @include media-breakpoint-only(md) {
    margin-bottom: 35px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 25px;
  }
}
@mixin MediumMargin {
  margin: 0 0 70px 0;
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-only(md) {
    margin-bottom: 45px;
  }
}
@mixin BigMargin {
  margin: 0 0 150px 0;
  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }
  @include media-breakpoint-only(md) {
    margin-bottom: 80px;
  }
   @include media-breakpoint-only(lg) {
    margin-bottom: 120px;
  }
}
@mixin BigPadding {
  padding: 0 0 150px 0;
  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-only(md) {
    padding-bottom: 80px;
  }
  @include media-breakpoint-only(lg) {
    padding-bottom: 120px;
  }
}



@mixin SmallPadding {
  padding: 0 0 45px 0;
  @include media-breakpoint-only(md) {
    padding-bottom: 35px;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 25px;
  }
}
@mixin MediumPadding {
  padding: 0 0 70px 0;
  @include media-breakpoint-down(md) {
    padding-bottom: 30px;
  }
  @include media-breakpoint-only(md) {
    padding-bottom: 45px;
  }
}
@mixin SmallPaddingBoth {
  padding: 45px 0;
  @include media-breakpoint-only(md) {
    padding: 35px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 25px 0;
  }
}
@mixin MediumPaddingBoth {
  padding: 70px 0;
  @include media-breakpoint-down(md) {
    padding: 30px 0;
  }
  @include media-breakpoint-only(md) {
    padding: 45px 0;
  }
}
@mixin BigPaddingBoth {
  padding: 150px 0;
  @include media-breakpoint-down(md) {
    padding: 60px 0;
  }
  @include media-breakpoint-only(md) {
    padding: 80px 0;
  }
  @include media-breakpoint-only(lg) {
    padding: 120px 0;
  }
}


