@mixin primary-cta {
  padding: 16px 32px;
  background-color: #FFD597;
  transition: all 0.3s;
  display: inline-block;
  outline: 0;
  text-align: center;
  color: #1B5D76;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
  @include media-breakpoint-only(md) {
    font-size: 16px;
  }
  &:hover {
    outline: 0;
    background-color: #1B5D76;
    color: #FFD597;
    transition: all 0.3s;
  }
}
@mixin TickIcon {
  .EachIcon {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    .Icon {
      display: inline-block;
      vertical-align: top;
      width: 55px;
      img {
        max-width: 42px;
        height: auto;
      }
    }
    .Text {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 60px);
      p{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        margin: 0;
        color: $Secondary;
      }
    }
  }
}
@mixin SmallMargin {
  margin: 0 0 45px 0;
}
@mixin MediumMargin {
  margin: 0 0 70px 0;
}
@mixin BigMargin {
  margin: 0 0 150px 0;
}
@mixin SmallPadding {
  padding: 0 0 45px 0;
}
@mixin MediumPadding {
  padding: 0 0 70px 0;
}
@mixin BigPadding {
  padding: 0 0 150px 0;
}
@mixin SmallPaddingBoth {
  padding: 45px 0;
}
@mixin BigPaddingBoth {
  padding: 150px 0;
}
@mixin MediumPaddingBoth {
  padding: 70px 0;
}