$font-weight-bolder: 900 !default;
//For Spicetribe
$Primary: #28A99E;
$Secondary: #707070;
$RecordBg: #A0E1DB;
$ImgTitle: #1B5D76;
$ImgDesc: #707070;
$LeftImgBG: #2CBCAF;
$RightImgBG: #FFDEAB;
$RedColor: #F26C73;