body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 0;
}
body.logged-in {
  #LogoHeader {
    padding-top: 32px;
  }
}
.Small-Margin {
  margin: 0 0 100px 0;
}
.Medium-Margin {
  margin: 0 0 150px 0;
}
.Big-Margin {
  margin: 0 0 200px 0;
}
.Small-Padding {
  padding: 0 0 100px 0;
}
.Medium-Padding {
  padding: 0 0 150px 0;
}
.Big-Padding {
  padding: 0 0 200px 0;
}
.Medium-Padding-Both {
  padding: 150px 0;
}
