.CompanyQuite {
	@include MediumPaddingBoth;
	.CompanyQuiteText {
		text-align: center;
		padding: 0 30px;
	  @include media-breakpoint-down(lg) {
	  	padding: 0;
	  }
		p {
			font-size: 20px;
			font-weight: 500;
			margin: 0 0 30px;
			color:#707070;
			line-height: 1.4;
		  @include media-breakpoint-down(lg) {
		  	font-size: 18px;
		  	margin-bottom: 10px;
		  }
		}
		.BorderQuite {
			text-align: left;
			@include MediumPaddingBoth;
			p {
				font-size: 24px;
				font-weight: 600;
				padding-left: 25px;
				border-left: 5px solid #ED656F;
			  @include media-breakpoint-only(md) {
			  	font-size: 22px;
			  }
			  @include media-breakpoint-down(md) {
			  	font-size: 20px;
			  }			  
			}
		}
	}
}