.GenieBooks {
	margin-bottom: 30px;
	padding: 45px 0;
	background-color: $Primary;
	.GenieBooksText {
		text-align: center;
		p {
			font-size: 28px;
			line-height: 1.2;
			font-weight: 600;
			color: $white;
			margin: 0;
		}
	}
}