.GenieBooks {
	@include SmallMargin;
	@include SmallPaddingBoth;
	background-color: $Primary;

	.GenieBooksText {
		text-align: center;
		p {
			font-size: 28px;
			line-height: 1.2;
			font-weight: 600;
			color: $white;
			margin: 0;
			@include media-breakpoint-down(xxl) {
				br {
					display: none;
				}
			}

			@include media-breakpoint-only(md) {
				font-size: 24px;		  	
		  }
		  @include media-breakpoint-down(md) {
				font-size: 22px;		  	
		  }
		}
	}
}