.RecordBusiness {
	padding: 100px 0;
	background-color: rgba(160,225,219,0.2);
	.RecordBusinessImg {
		img {
			width: 75%;
			height: auto;
			margin: 0;
		}
	}
	.RecordBusinessText {
		h2 {
			color: #2CBCAF;
			font-size: 44px;
			line-height: 1.2;
			font-weight: 900;
			margin: 0 0 20px;
		}
		p {
			font-size: 18px;
			line-height: 1.2;
			font-weight: 400;
			margin: 0 0 45px;
			color: #707070;
		}
	}
	.IconSection {
		@include TickIcon;
	}
}
