.Testimonial {
  @include BigPaddingBoth;
  background-color: #FFFDF8;
  margin-top: 90px;
  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
    margin-top: 40px;
  }
  @include media-breakpoint-only(md) {
    margin-top: 60px;
  }
  @include media-breakpoint-only(lg) {
    margin-bottom: 120px;
  }
  .TestimonialText {
    position: relative;
    @include media-breakpoint-only(xs) {
      padding-left: 20px;
    }
    .Icon {
      position: absolute;
      top: -240px;
      left: -410px;
      z-index: 9;
      @include media-breakpoint-only(lg) {
        top: -180px;
        left: -330px;
        width: 300px;
      }
      @include media-breakpoint-only(md) {
        top: -140px;
        left: -260px;
        width: 245px;
      }
      @include media-breakpoint-only(sm) {
        top: -100px;
        left: -220px;
        width: 200px;
      }
      @include media-breakpoint-only(xs) {
        top: -100px;
        left: -10px;
        width: 120px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    p {
      font-size: 34px;
      line-height: 1.4;
      margin: 0 0 30px;
      font-weight: 500;
      color: #0E4154;
      @include media-breakpoint-only(lg) {
        font-size: 32px;
      }
      @include media-breakpoint-only(md) {
        font-size: 28px;
        margin-bottom: 20px;
      }
      @include media-breakpoint-only(sm) {
        font-size: 24px;
        margin-bottom: 15px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }
    h5 {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 400;
      color: #0D717F;
      margin: 0;
      text-align: right;
      @include media-breakpoint-only(md) {
        font-size: 22px;
      }
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
  }
}